<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">



<configuration>

	
	<!-- 设置MyBatis -->
	<settings>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<!-- 指定类型别名 -->
	<typeAliases>
		<!-- user 就代表com.zhiyou.model.User -->
		<typeAlias type="com.zhiyou.model.User" alias="user"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>

</configuration>      
